
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


header{
    width: 100%;
    display: flex;
    border: 2px solid aqua;
    display: flex;
    justify-content: center;
    padding: 16px 0 16px 0;
}
.navigasi{
    width: 879px;
    height: 61px;
    display: flex;
    justify-content: center;
    border: 2px solid aqua;
    gap: 64px;
    justify-content: center;
    
}
.navigasi a{
    width: 600;
    font-size: 24;
    font-family: inter;
    margin-top: 15px;
    font-weight: 600;
    color: rgba(80, 90, 91, 1);
    
}
.navigasi a:hover{
    color: rgba(211, 96, 96, 1);
    text-decoration: underline;
}
button{
    display: block;
    width: 235px;
    border-radius: 8px;
    background: rgba(80, 90, 91, 1);
    color: white;
    border: none;
    
    font-size: 24px;
    font-weight: 500;
    font-family: inter;
    font-weight: 500;
}

.hero{
    width: 100%;
    border: 2px solid red;
    height: 931px;
    padding-left: 829px;
    padding-top: 161px;
    background-image: url("~/assets/img/img_hero.svg");
}

.text-hero{
    width: auto;
    border: 2px solid blueviolet;

}

.text-hero h3{
    font-size: 120px;
    font-family: Playfair Display;
    font-weight: 900;
}
.text-hero  h5{
    font-size: 40px;
    font-weight: 400;
    font-family: inter;
}